<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Сторінка з тестуванням</title>
</head>
<body>
    <h2>{{ quest }}</h2>
    <form method="post" action="/test">
        <input type="hidden" name="q_id" value="{{ question_id }}">
        {% for ans in ans_list %}
            <input type="radio" name="ans_name" value="{{ ans }}">{{ ans }}
        {% endfor %}
        <button type="submit">Відповісти</button>
    </form>
</body>
</html>